.foundation-page {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 60px 20px;
  background: url("../../assets/cross.png") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

.foundation-overlay {
  max-width: 1200px;
  width: 100%;
  padding: 30px 20px;
}

.foundation-title {
  font-size: 64px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 10px;
}

.foundation-divider {
  border: none;
  height: 3px;
  background: #000;
  width: 150px;
  margin: 0 auto 40px auto;
}

.foundation-list {
  list-style: disc;
  font-size: 28px;   
  line-height: 2;    
  text-align: left;
  display: inline-block;
  padding-left: 25px; 
}


.foundation-list li {
  margin-bottom: 10px;
}

.foundation-ref {
  font-weight: normal; 
}

.foundation-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 80px;
  text-align: left;
}

.foundation-grid h2 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: left;
}

.foundation-grid p {
  font-size: 22px;       
  line-height: 1.9;        
  text-align: justify;       
  margin-bottom: 15px;
}

.foundation-ref {
  font-weight: normal;
}
