/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #eaf6fc;
}

/* Navbar */
.navbar {
  background: #fefae0;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 32px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #5d7b8f;
}

/* Logo */
.hero-logo {
  width: 450px; 
  max-width: 90%;
  height: auto;
}

/* Text */
.hero-text h1 {
  font-size: 70px;  
  font-weight: 900;
  color: #5d7b8f;
  margin: 0;
  text-align: left;
  text-shadow: #c0d9dd 4px 4px 0;
}

.hero-text h2 {
  font-size: 45px;  
  color: #5d7b8f;
  margin-top: 15px;
  text-align: left;
}

/* Pages */
.page {
  padding: 80px 20px;
  max-width: 900px;
  margin: auto;
}

.page h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.page p {
  font-size: 18px;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .hero-text h2 {
    font-size: 20px;
  }

  .hero-logo {
    width: 200px;
  }
}

/* Programs Section */
.programs {
  padding: 100px 20px;
  text-align: center;
  background-color: #7393B3; 
  min-height: 100vh; 
  width: 100%;       
}

.programs-title {
  font-size: 72px;   
  font-weight: 900;
  margin-bottom: 80px;
  color: #fff;
}

.programs-grid {
  display: flex;
  justify-content: center;
  gap: 60px;   
  flex-wrap: wrap;
}

.program-card {
  width: 600px;
  text-decoration: none; 
  transition: transform 0.3s ease;
}

.program-card:hover {
  transform: translateY(-12px);
}

.program-card img {
  width: 100%;
  height: 440px; 
  object-fit: cover;
  border-radius: 20px;
}

.program-card h2 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 25px;
  color: #fff;
  text-decoration: none; 
  text-align: center;
}

/* Program detail page */
.program-detail {
  padding: 120px 60px; 
  background-color: #7393B3; 
  min-height: 100vh; 
  width: 100%;
  text-align: center;
}

.program-detail-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px; 
  flex-wrap: wrap; 
  margin-top: 80px;
}

.program-detail img {
  width: 750px; 
  height: auto;
  border-radius: 24px; 
  object-fit: cover;
  box-shadow: 0 8px 24px rgba(0,0,0,0.3); 
}

.program-detail-text {
  max-width: 900px; 
  color: #fff;
  text-align: left;
}

.program-detail-text h2 {
  font-size: 72px; 
  font-weight: 900;
  margin-bottom: 40px; 
}

.program-detail-text p {
  font-size: 33px; 
  line-height: 1.8; 
}







